@page "/game"

<h1>The Technical Debt Game</h1>

<div id="gameboard">
    <h3>Gameboard</h3>
    <div id="technicalDebtCards"></div>
    <div id="iterationCards"></div>
    <div id="featureCards_Cost15"></div>
    <div id="featureCards_Cost10"></div>
    <div id="featureCards_Cost5"></div>
</div>

<div id="gameChart">
    <h3>Tech Debt Game Chart</h3>
</div>



@code {

}
