@using TechDebtGame.Pages
<div>
    <CascadingValue Value="this">
        <CascadingValue Value="GameManager">
            @ChildContent
        </CascadingValue>
    </CascadingValue>
</div>

@code {

    [Parameter]
    public GameManager GameManager { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<IGameCardModel> OnStatusUpdated { get; set; }

    public IGameCardModel Payload { get; set; }

    public async Task UpdateCardAsync(GameCardListModel gameCardList)
    {
        var cardModel = Payload;

        if (GameManager.MoveCard(cardModel, gameCardList))
            await OnStatusUpdated.InvokeAsync(Payload);
    }

}