@using TechDebtGame.Pages
<div>
    @ChildContent

    <ul class="dropzone @dropClass"
        ondragover="event.preventDefault();"
        ondragstart="event.dataTransfer.setData('', event.target.id);"
        @ondrop="HandleDrop"
        @ondragenter="HandleDragEnter"
        @ondragleave="HandleDragLeave">

        @foreach (var card in CardsInList)
        {
            <li>
                <GameCard GameCardModel=card />
            </li>
        }

    </ul>
</div>

@code {

    [CascadingParameter]
    GameCardListContainer Container { get; set; }

    [CascadingParameter]
    public CardManager CardManager { get; set; }

    [Parameter]
    public GameCardListType GameCardListType { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public List<GameCardModel> CardsInList { get; set; }

    string dropClass = "";

    protected override void OnParametersSet()
    {
        CardsInList = CardManager.GetCards(GameCardListType);
    }

    private void HandleDragEnter()
    {
        dropClass = "can-drop";
    }

    private void HandleDragLeave()
    {
        dropClass = "";
    }

    private async Task HandleDrop()
    {
        dropClass = "";

        await Container.UpdateCardAsync(GameCardListType);
    }

}