/**Dragging**/

.dropzone {
    padding: 15px;
    border: 1px dashed #75868a;
    list-style: none;
}

.cannot-drop {
    background-color: red;
}

.can-drop {
    border: 2px dashed green;
}

.draggable {
    cursor: grab;
    margin-bottom: 10px
}

.draggable:active {
    cursor: grabbing;
}

.dragging {
    cursor: grabbing;
}

/**Cards**/
.gameCard {
    border: 1px solid #424d5c;
}

.techdebtcard {
    background-color: #ffcccc;
}

.featurecard {
    background-color: #ccd9ff;
}

/**Common*/
.hide {
    opacity: 0;
}